.carousel-container {
  overflow: hidden; /* Evita que o conteúdo ultrapasse os limites do carousel */
  max-width: 100%;
}

.custom-carrocel {
  width: 10000px;
}

.slick-arrow {
  width: 2rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  z-index: 1;
}

.slick-prev {
  left: 1rem;
}

.slick-next {
  right: 1rem;
}

.slick-arrow::before {
  content: "";
}

.slick-list {
  position: relative; /* Certifique-se de que a slick-list é relativa para sobreposição correta */
}

.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 450px; /* Ajuste conforme necessário para posicionar os pontos acima */
  width: 100%;
  z-index: 1; /* Garantir que a div fique acima dos slides */
}

.slick-dots ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  margin: 0 5px;
  font-size: 25px;
}

.slick-dots li button:before {
  font-size: 25px;
  color: darkgrey;
}

.slick-dots button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(238, 3, 3);
  cursor: pointer;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #c92071;
}

.custom-bg {
  background-color: #d8e3f2; /* Cor equivalente a bg-green-600 */
}

.custom-width {
  width: 30rem;
  height: 28rem;
}

.custom-button {
  background-color: white !important;
  color: pink !important;
  border: 1px solid pink !important;
}
.custom-button:hover {
  background-color: lightgray !important;
}

.section-container {
  display: flex;
  width: auto;
  height: 589px;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  background-color: #ffffff; /* Ajuste conforme necessário */
}

.div-custom {
  width: 589px;
  height: 341px;
  background-color: #ffffff;
  display: flex;
  height: 100%; /* ou altura específica, se necessário */
}
.button-class {
  background-color: #c92071;
  height: 40px;
}
